APP_NAME=semantic-pantau-gizi
APP_PORT=8080
LOG_LEVEL=debug
APP_ENV=

PG_HOST=
PG_PORT=5432
PG_USERNAME=
PG_PASSWORD=
PG_DATABASE=
PG_MAXLIFETIME=120
PG_MAXIDLECONNS=10
PG_MAXOPENCONNS=100
PG_SSL_MODE=disable

REDIS_PORT_EXPOSE=6379